In [150]:
import pandas as pd
import numpy as np

In [151]:
data_movies=pd.read_csv("unique10000.csv")

In [152]:
data_movies.tail()

,Movie,Rating,Genre,Director,Actor1,Actor2,Budget,Revenue_US,Revenue_World,Date
9997,Beastmaster III: The Eye of Braxus,3.9,Action,Gabrielle Beaumont,Marc Singer,Tony Todd,0,0,0,0
9998,Skinwalker Ranch,5.1,Horror,Steve Berg,Devin McGinn,Taylor Bateman,0,0,0,0
9999,Confidence,6.7,Crime,James Foley,Edward Burns,Dustin Hoffman,0,0,0,0
10000,Judy Moody and the Not Bummer Summer,4.3,Comedy,John Schultz,Jordana Beatty,Heather Graham,0,0,0,0
10001,Love and Monsters,7.0,Action,Michael Matthews,Dylan O'Brien,Jessica Henwick,0,0,0,0

In [153]:
data_movies['Budget'] = data_movies['Budget'].replace(0,data_movies['Budget'].mean())
data_movies['Revenue_US'] = data_movies['Revenue_US'].replace(0,data_movies['Revenue_US'].mean())
data_movies['Revenue_World'] = data_movies['Revenue_World'].replace(0,data_movies['Revenue_World'].mean())

In [154]:
data_movies["Movie"]= data_movies['Movie'].astype('category')
data_movies["Movie_cat"]= data_movies["Movie"].cat.codes

data_movies["Genre"]= data_movies['Genre'].astype('category')
data_movies["lGenre_cat"]= data_movies["Genre"].cat.codes

data_movies["Director"]= data_movies['Director'].astype('category')
data_movies["Director_cat"]= data_movies["Director"].cat.codes

data_movies["Actor1"]= data_movies['Actor1'].astype('category')
data_movies["Actor1_cat"]= data_movies["Actor1"].cat.codes

data_movies["Actor2"]= data_movies['Actor2'].astype('category')
data_movies["Actor2_cat"]= data_movies["Actor2"].cat.codes

In [155]:
data_movies.head()

,Movie,Rating,Genre,Director,Actor1,Actor2,Budget,Revenue_US,Revenue_World,Date,Movie_cat,lGenre_cat,Director_cat,Actor1_cat,Actor2_cat
0,11:14,7.2,Crime,Greg Marcks,Henry Thomas,Colin Hanks,6000000.0,1.669888e+07,3.841632e+07,12-Aug-05,17,5,1456,1468,969
1,9,7.1,Animation,Shane Acker,Elijah Wood,Jennifer Connelly,30000000.0,3.174989e+07,4.856000e+07,9-Sep-09,118,2,3675,1096,2125
2,21,6.8,Crime,Robert Luketic,Jim Sturgess,Kate Bosworth,35000000.0,8.115936e+07,1.598464e+08,28-Mar-08,52,5,3442,1822,2513
3,31,5.1,Horror,Rob Zombie,Malcolm McDowell,Richard Brake,1500000.0,7.798200e+05,9.227270e+05,21-Oct-16,81,11,3411,2516,3885
4,42,7.5,Biography,Brian Helgeland,Chadwick Boseman,T.R. Knight,31000000.0,9.502021e+07,9.747070e+07,12-Apr-13,89,3,533,623,4463

In [156]:
X= data_movies[["Movie_cat","lGenre_cat","Director_cat","Actor1_cat","Actor2_cat","Budget","Revenue_US","Revenue_World"]]
y= data_movies["Rating"]

In [157]:
from sklearn.model_selection import train_test_split

# Splitting the training data into train set and validation set
x_train, x_val, y_train, y_val = train_test_split(X, y, random_state=0, test_size=0.2)

In [159]:
from sklearn import linear_model
ridge = linear_model.Ridge(alpha=.5)

In [160]:
ridge=ridge.fit(x_train,y_train)

In [161]:
y_pred_ridge=ridge.predict(x_val)

In [162]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(ridge, open(filename, 'wb'))

loaded_model = pickle.load(open(filename, 'rb'))

In [163]:
def stringToInt(string):
    integer = 0
    #try seeing if string value given is already a number if so the output would be
    try:
        #means string value given is already a int
        integer = int(string)
    except:
        string = string.lower()
        for i in string:
            integer += ord(i)
    return integer

In [ ]:
Movie = input("Enter the name of the Movie: ")
Movie = Movie.lower()
Movie = stringToInt(Movie)

Genre = input("Enter the name of the Genre: ")
Genre = Genre.lower()
Genre = stringToInt(Genre)

Director = input("Enter the name of the Director: ")
Director = Director.lower()
Director = stringToInt(Director)

Actor1 = input("Enter the name of the Actor1: ")
Actor1 = Actor1.lower()
Actor1 = stringToInt(Actor1)

Actor2 = input("Enter the name of the Actor2: ")
Actor2 = Actor2.lower()
Actor2 = stringToInt(Actor2)


Budget = int(input("Enter the budget for the movie: "))
Revenue_US = int(input("Enter the Revenue_US for the movie: "))
Revenue_World = int(input("Enter the Revenue_World for the movie: "))


prediction = ridge.predict([[Movie,Genre,Director,Actor1,Actor2,Budget,Revenue_US,Revenue_World]])

print(prediction[0]/10 * 10)